<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_owlse._tcp</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>plus</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>New Project</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sasvyn.new-project</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>rectangle.on.rectangle</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Create Mockup</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sasvyn.create-mockup</string>
		</dict>
	</array>
</dict>
</plist>
